<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @for (restaurant of restaurants; track $index) {
                    <td>{{ restaurant.title }}</td>
                    <td>{{ restaurant.address }}</td>
                    <td>{{ restaurant.phone }}</td>
                    <td>{{ restaurant.email }}</td>
                    <td>{{ restaurant.priceLevel }}</td>
                    <td>
                        <button class="btn btn-info btn-sm" [routerLink]="['/restaurants', restaurant.id]">Details</button>
                        <button class="btn btn-primary btn-sm" [routerLink]="['/restaurants/edit', restaurant.id]">Edit</button>
                    </td>
                }
            </tr>
        </tbody>
    </table>

</div>